/*

License: GPLv2
  <http://www.gnu.org/licenses/gpl-2.0.html>

*/


.battle a
{
	color: #2277FF;
}
.battle a:hover
{
	color: #1155AA;
}
.innerbattle
{
	position: relative;
	width: 640px;
	height: 360px;
}
.battle-log-add
{
	position: absolute;
	text-align: left;
	border: 1px solid #AAAAAA;
	background: #EEF2F5;
	color: black;
	top: 369px;
	left: 640px;
	right: -1px;

	font-family: Verdana, sans-serif;
	font-size: 10pt;
}
.battle-log
{
	position: absolute;
	text-align: left;
	border: 1px solid #AAAAAA;
	background: #EEF2F5;
	color: black;
	top: 9px;
	left: 640px;
	right: -1px;
	height: 360px;

	font-family: Verdana, sans-serif;
	font-size: 10pt;

	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.battle-log .inner
{
	padding: 4px 8px 0px 8px;
}
.battle-log .inner-preempt
{
	padding: 0 8px 4px 8px;
}
.battle-log .inner-after
{
	margin-top: 0.5em;
}
.battle-log h2
{
	margin: 0.5em -8px;
	padding: 4px 8px;
	border: 1px solid #AAAAAA;
	background: #E0E7EA;
	border-left: 0; border-right: 0;
	font-family: Verdana, sans-serif;
	font-size: 13pt;
}
.battle-log .chat
{
	vertical-align: middle;
	padding: 4px 0 2px 0;
	font-size: 8pt;
	/* background: #F6FAFF; */
}
.battle-log .chat strong
{
	color: #40576A;
}
.battle-log .chat em
{
	padding: 1px 4px 1px 3px;
	color: #000000;
	font-style: normal;
}
.battle-log .chat em.mine
{
	color: #555555;
}
.spoiler {
	color: #E2E2E2;
	background: #E2E2E2;
	border: 1px solid #777777;
	padding: 0px 3px;
}
.spoiler:hover,
.spoiler:active,
.spoiler-shown {
	color: #000000;
	background: #E2E2E2;
	border: 0px solid #AAAAAA;
	padding: 1px 4px;
}
.spoiler a {
	color: #E2E2E2;
}
.spoiler:hover a,
.spoiler:active a,
.spoiler-shown a {
	color: #2288CC;
}
.battle-log .rated
{
	padding: 3px 4px;
}
.battle-log .rated strong
{
	color: white;
	background: #89A;
	padding: 1px 4px;
	border-radius: 4px;
}
.spacer
{
	margin-top: 0.5em;
}

.playbutton
{
	position: absolute;
	display: block;
	top: 160px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 100;
}
.playbutton button
{
	font-size: 20pt;
}

.background
{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.statbar
{
	position: absolute;
	display: none;
	width: 154px;
	min-height: 40px;
	padding: 2px 4px;
}
.statbar strong
{
	display: block;
	text-align: center;
	color: #222222;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.statbar strong small
{
	font-weight: normal;
}
.statbar .hpbar
{
	position: relative;
	border: 1px solid #777777;
	background: #FCFEFF;
	padding: 1px;
	height: 8px;
	margin: 0 0 0 0;
	width: 151px;
	border-radius: 4px;
}

/* The declaration order of these hp* classes is significant. */

.statbar .hpbar .hp
{
	height: 4px;
	border-top: 2px solid #00dd60;
	background: #00bb51;
	border-bottom: 2px solid #007734;
	border-right: 1px solid #007734;
	border-radius: 3px;
}
.statbar .hpbar .hp-yellow
{
	border-top-color: #f8e379;
	background-color: #f5d538;
	border-bottom-color: #be9f0a;
	border-right-color: #be9f0a;
}
.statbar .hpbar .hp-red
{
	border-top-color: #f37f67;
	background-color: #ee4928;
	border-bottom-color: #a3260d;
	border-right-color: #a3260d;
}

/* The declaration order of these prevhp* classes is significant. */

.statbar .hpbar .prevhp
{
	background: #BBEECC;
	height: 8px;
	border-radius: 3px;
}
.statbar .hpbar .prevhp-yellow
{
	background-color: #fcf4ca;
}
.statbar .hpbar .prevhp-red
{
	background-color: #facec5;
}

/****************/

.statbar .hpbar .hptext
{
	position: absolute;
	background: #777777;
	color: #EEEEEE;
	text-shadow: #000000 0 1px 0;
	text-stroke: 1px #000000;
	font-size: 9px;
	width: 32px;
	height: 12px;
	top: -1px;
	text-align: center;
}
.statbar .hpbar .hptextborder
{
	position: absolute;
	background: transparent;
	border-top: 1px solid #777777;
	border-bottom: 1px solid #777777;
	width: 4px;
	top: -1px;
	height: 10px;
}
.rstatbar .hpbar .hptext
{
	right: -32px;
	border-radius: 0 4px 4px 0;
}
.lstatbar .hpbar .hptext
{
	left: -32px;
	border-radius: 4px 0 0 4px;
}
.rstatbar .hpbar .hptextborder
{
	right: -3px;
}
.lstatbar .hpbar .hptextborder
{
	left: -3px;
}
.statbar .status
{
	min-height: 10px;
	font-size: 7pt;
}
.statbar span
{
	padding: 0px 1px;
	border: 1px solid #FF4400;
	border-radius: 3px;
}
.statbar span.brn,
.statbar span.psn,
.statbar span.slp,
.statbar span.par,
.statbar span.frz
{
	padding: 1px 2px;
	border: 0;
	border-radius: 3px;
}
.statbar span.brn
{
	background: #EE5533;
	color: #FFFFFF;
}
.statbar span.psn
{
	background: #A4009A;
	color: #FFFFFF;
}
.statbar span.par
{
	background: #9AA400;
	color: #FFFFFF;
}
.statbar span.slp
{
	background: #AA77AA;
	color: #FFFFFF;
}
.statbar span.frz
{
	background: #009AA4;
	color: #FFFFFF;
}
.statbar span.bad
{
	background: #FFE5E0;
	color: #FF4400;
	border-color: #FF4400;
}
.statbar span.good
{
	background: #E5FFE0;
	color: #33AA00;
	border-color: #33AA00;
}
.statbar span.neutral
{
	background: #F0F0F0;
	color: #555555;
	border-color: #555555;
}
.leftbar
{
	position: absolute;
	top: 0;
	left: 0;
	height: 450px;
	width: 100px;
	background-color: #CCCCCC;
	background-color: rgba(255,255,255,0.5);
	border-right: 1px solid rgba(215,215,215,0.5);
	color: #777777;
}
.rightbar
{
	position: absolute;
	top: 0;
	right: 0;
	height: 450px;
	width: 100px;
	background-color: #CCCCCC;
	background-color: rgba(255,255,255,0.5);
	border-left: 1px solid rgba(215,215,215,0.5);
	color: #777777;
}
.trainer
{
	text-align: center;
	margin-top: 180px;
}
.rightbar .trainer
{
	margin-top: 50px;
}
.trainer strong
{
	display: block;
	font-size: 8pt;
	margin-bottom: 2px;
	overflow: hidden;
}
.trainer div
{
	width: 86px;
	height: 90px;
	opacity: .7;
	margin: 0 auto;
	background: transparent none no-repeat scroll center top;
}
.trainer div.teamicons
{
	width: 97px;
	height: 24px;
}
.teamicons span
{
	float: left;
}
.leftbar .trainer div.trainersprite,
.leftbar .teamicons span
{
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}
.trainersprite
{
	max-width: 80px;
	max-height: 80px;
}
.turn
{
	position: absolute;
	display: none;
	top: 10px;
	left: 110px;
	font-size: 13pt;
	font-weight: bold;
	margin: 0;
	padding: 2px 8px;
	border: 2px solid #332200;
	border-radius: 6px;
	color: #332200;
	background: #FCFAF2;
}
.messagebar
{
	position: absolute;
	display: none;
	bottom: 10px;
	left: 110px;
	right: 110px;
	color: #CCCCCC;
	background: #222222;
	background: rgba(0,0,0,0.75);
	border-radius: 6px;
	padding: 4px 6px 0 6px;
	overflow: hidden;
}
.message strong
{
	color: #ffffff;
	font-size: 12pt;
}
.message small
{
	font-size: 8pt;
}
.message p
{
	display: none;
	margin: 0;
	padding: 0;
}
.weather
{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.weather em
{
	display: block;
	margin: 50px 0 0 115px;
	font-size: 12pt;
}
.weather em small
{
	font-style: normal;
}
.sunweather,
.sunnydayweather
{
	background: #FFEEBB url(//play.pokemonshowdown.com/fx/weather-sunnyday.jpg) no-repeat scroll left top;
	color: #664411;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.rainweather,
.raindanceweather
{
	background: #99BBFF url(//play.pokemonshowdown.com/fx/weather-raindance.jpg) no-repeat scroll left top;
	color: #0044BB;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.sandstormweather
{
	background: #E6E0AC url(//play.pokemonshowdown.com/fx/weather-sandstorm.png) no-repeat scroll left top;
	color: #554433;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.hailweather
{
	background: #AADDEE url(//play.pokemonshowdown.com/fx/weather-hail.png) no-repeat scroll left top;
	color: #114455;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.pseudoweather
{
	background: #DDAAEE url(//play.pokemonshowdown.com/fx/weather-trickroom.png) no-repeat scroll left top;
	color: #661155;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}

.battle .result
{
	display: none;
	position: absolute;
	width: 150px;
	text-align: center;
}
.battle .result strong
{
	font-weight: bold;
	padding: 1px 3px;
	border-radius: 3px;
}
.battle .badresult strong
{
	color: #FFFFFF;
	background: #CC0000;
}
.battle .goodresult strong
{
	color: #FFFFFF;
	background: #00CC00;
}
.battle .neutralresult strong
{
	color: #FFFFFF;
	background: #999999;
}
.battle .brnresult strong
{
	color: #FFFFFF;
	background: #EE5533;
}
.battle .psnresult strong
{
	color: #FFFFFF;
	background: #A4009A;
}
.battle .slpresult strong
{
	color: #FFFFFF;
	background: #AA77AA;
}
.battle .parresult strong
{
	color: #FFFFFF;
	background: #9AA400;
}
.battle .frzresult strong
{
	color: #FFFFFF;
	background: #009AA4;
}

.sidecondition-reflect
{
	background: #EEEEEE;
	border: 1px solid #888888;
	display: none;
	position: absolute;
}
.sidecondition-lightscreen
{
	background: #CCCC00;
	border: 1px solid #AAAA00;
	display: none;
	position: absolute;
}
.sidecondition-safeguard
{
	background: #DD88DD;
	border: 1px solid #AA66AA;
	display: none;
	position: absolute;
}
.sidecondition-mist
{
	background: #AACCFF;
	border: 1px solid #5577CC;
	display: none;
	position: absolute;
}
.turnstatus-protect
{
	background: #DD88DD;
	border: 1px solid #AA66AA;
	display: none;
	position: absolute;
}
.seeking
{
	display: block;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: #FFFFFF;
	color: #000000;
}
.seeking strong
{
	display: block;
	text-align: center;
	padding-top: 180px;
}

#sm2-container
{
	position: relative;
}

.swf_timedout#sm2-container embed,
.swf_timedout#sm2-container object,
.swf_timedout#sm2-container audio,
.movieContainer#sm2-container embed,
.movieContainer#sm2-container object,
.movieContainer#sm2-container audio
{
	position: absolute;
	height: 27px;
	width: 66px;
	top: -1px;
	left: -1px;
}
.swf_timedout#sm2-container .inner,
.movieContainer#sm2-container .inner
{
	visibility: hidden;
}
#sm2-container embed,
#sm2-container object,
#sm2-container audio,
.swf_loaded#sm2-container embed,
.swf_loaded#sm2-container object,
.swf_loaded#sm2-container audio
{
	position: absolute;
	height: 27px;
	width: 27px;
	top: -1px;
	left: -87px;
}
#sm2-container .inner,
.swf_loaded#sm2-container .inner
{
	visibility: visible;
}

.chooser
{
	float: right;
	border: 1px solid #AAAAAA;
	background: #EEF2F5;
	padding: 0 0 0 0;
	height: 25px;
	font-size: 9pt;
	margin: 0 5px 0 0;
}
.leftchooser
{
	float: left;
}
.chooser em
{
	float: left;
	padding: 5px 6px 0 6px;
	height: 20px;
	border-right: 1px solid #CCCCCC;
	background: #EEEEEE;
	font-weight: normal;
}
.chooser div
{
	float: left;
	padding: 1px 2px;
}
.chooser button
{
	border: 0;
	background: transparent;
	padding: 2px 4px;
	font-size: 9pt;
	font-family: Verdana, sans-serif;
	border-radius: 3px;
	cursor: pointer;
}
.chooser button:hover
{
	border: 1px solid #BBBBBB;
	padding: 1px 3px;
	background: #EEEEEE;
}
.chooser button.sel,
.chooser button.sel:hover
{
	border: 1px solid #999999;
	padding: 1px 3px;
	background: #DDDDDD;
}


/* .dark .battle
{
	background: #222222;
	color: #CCCCCC;
}
.dark .statbar strong
{
	color: #AAAAAA;
}
.dark .statbar .hpbar
{
	background: #222222;
}
.dark .statbar .hpbar .prevhp
{
	background: #446755;
}
.dark .leftbar,
.dark .rightbar
{
	background: rgba(0,0,0,0.5);
	color: #CCCCCC;
}
.dark .messagebar
{
	background: #444444;
	background: rgba(60,60,60,0.80);
	color: #CCCCCC;
} */
.dark .battle-log
{
	background: #333333;
	color: #CCCCCC;
}
.dark .battle-log .chat strong,
.dark .battle-log .chat em
{
	color: #8097BA;
}
.dark .battle-log h2
{
	background: #555555;
}
.dark .chooser
{
	background: #666666;
	color: #CCCCCC;
}
.dark .chooser em
{
	background: #777777;
	color: #CCCCCC;
}
.dark .chooser button
{
	color: #CCCCCC;
}
.dark .chooser button:hover
{
	border: 1px solid #BBBBBB;
	padding: 1px 3px;
	background: #777777;
	color: #EEEEEE;
}
.dark .chooser button.sel,
.dark .chooser button.sel:hover
{
	border: 1px solid #CCCCCC;
	padding: 1px 3px;
	background: #999999;
	color: #F3F3F3;
}

.itemicon
{
	display: block;
	width: 24px;
	height: 24px;
}
.pokemonicon
{
	display: block;
	width: 32px;
	height: 24px;
}
.ps-room .battle{
	top: 60px;
	border-width: 0px;
}
  
.foehint{    
position: relative;
top: 45px;
}        
        
.battle {
    border: 0px solid #AAAAAA;
    width: 640px;
    height: 360px;
    overflow: visible;
    font-family: Verdana, sans-serif;
    font-size: 10pt;
}
   
    .backdrop:before{

        display:block; 

        content:""; 

        background:url(http://i.imgur.com/QjLsolX.gif); 

        background-size:cover; 

        width:640px; 

    height:360px}

.backdrop{

    width:640px; 

    height:360px; 

    position:absolute; 

    top:0px; 

    left:0px; 

    overflow:hidden; 

    background:-50px -90px; 

    opacity:1 !important}

.backdrop:after {

display:block ; 

content:""; 

background:url(http://i.imgur.com/ALNRPPT.png); 
    
position:absolute; 

top:0; 

left:0; 

width:640px; 

height:360px}


.ps-room .battle-controls {
top: 430px;
}





.weather {
	text-shadow:none;
    color: rgba(0,0,0,0);
}

.weather em small {
	font-size: 7pt;
    color: white;
    text-shadow: 1px 1px black;
    position: absolute;
    left:0;
    top: 85px;
    width: 95px;
    text-align:center;
  }
  
    

.switchmenu button{
	color: white;            
    text-shadow: 1px 1px black;
}

.switchmenu button:disabled{
    opacity: .5;
    }

.movemenu button{
	width: 150px;      
	height: 50px;
  	border: 5px;
    box-shadow: none;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 10pt;
    padding-top: 10px;
}

.movemenu button small{
text-align: center;
width: 62px;
margin-top:2px;
}

.movemenu button small.type, .movemenu button small.pp {
padding-top: 8px;
color: white;
/*margin:6px 15px 0 10px;*/
}


.battle-log{
  background: url(http://i.imgur.com/fTXBQ98.jpg);
}
.battle-log-add{
background: url(http://www.leviu.ca/images/bg.jpg);
}
.battle{

    border:0px solid #AAAAAA; 

    width:640px; 

    height:360px; 

    overflow:visible; 

    font-family:Verdana,sans-serif; 

    font-size:10pt}

.backdrop:before{

        display:block; 

        content:""; 

        background:url(http://i.imgur.com/QjLsolX.gif); 

        background-size:cover; 

        width:640px; 

    height:360px}

.backdrop{

    width:640px; 

    height:360px; 

    position:absolute; 

    top:0px; 

    left:0px; 

    overflow:hidden; 

    background:-50px -90px; 

    opacity:1 !important}



.ps-room .battle-controls{

top:430px}

.turn{

    position:absolute; 

    top:-70px; 

    left:270px !important; 

    width:101px; 

    height:17px; 

    font-size:8pt; 

    font-weight:bold; 

    margin:0px; 

    padding:0px; 

    padding-top:35px; 

    border:0; 

    border-radius:0; 

    opacity:1 !important; 

    background:url(http://i.imgur.com/6SgSXmb.png); 

    text-align:center; 

    color:#cccccc}

.rightbar{

position:absolute; 

top:-60px; 

right:15px; 

height:100px; 

width:320px; 

background-color:rgba(255,255,255,0); 

border:0px solid rgba(215,215,215,0.5); 

color:#777777; 

background-image:url(http://i.imgur.com/nTem8oK.png); 

background-position:0px -21px}

.rightbar .trainer{

margin-top:0px; 

left:08px}

.rightbar .trainersprite{

position:absolute; 

top:0px; 

left:40px; 

opacity:1 !important}
    
    
.trainer strong{

display:block; 

font-size:12pt; 

overflow:hidden; 

padding-top:10px; 

padding-left:110px; 
    
color:#fafafa}
    
.rightbar .trainer strong{

display:block; 
    

font-size:12pt; 
    
text-align:left;
    
overflow:hidden; 
    
position:relative;
    
left:20px;

}  

  
.rightbar .trainer .teamicons{

float:left; 
      
position:relative; 

top:0px; 

left:108px}

.leftbar{

position:absolute; 

top:-60px; 

left:15px; 

height:100px; 

width:320px; 

background-color:rgba(255,255,255,0); 

border:0px solid rgba(215,215,215,0.5); 

color:#777777; 

background-image:url(http://i.imgur.com/oIjX6jC.png); 

background-position:0px -21px}

.leftbar .trainer{

margin-top:0px; 

text-align:left}

.leftbar .trainersprite{

position:absolute; 

top:0px; 

right:40px; 

opacity:1 !important}

.leftbar .trainer strong{

display:block; 

font-size:12pt; 

overflow:hidden; 

padding-top:10px; 
    
    text-align:right;
    
    position:relative;
    
left:-130px;

}

  
  
.leftbar .trainer .teamicons{

float:right; 

position:relative; 

top:1px; 

right:108px}
    
.whatdo{
      
position:relative; 

color:#fbfbfb!important;
    
font-size:11.5pt!important;   
       
opacity:1;
       
bottom:59px; 
    
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

right:-20px} 
    

.healthy{

float:right; 
color:#b4b4b4;
position:relative; 
top:1px;
opacity:0;     
right:-350px}  
    
.weak{

float:right; 
position:relative; 
top:1px; 
opacity:0; 
right:-350px}    
    
.critical{

float:right; 
position:relative; 
top:1px; 
opacity:0; 
right:-350px}   
 
    

.weather{

text-shadow:none; 

color:rgba(0,0,0,0)}
    
.weather:after {

display:block ; 

content:""; 

background:url(http://i.imgur.com/ALNRPPT.png); 
    
position:absolute; 

top:0; 

left:0; 

width:640px; 

height:360px}   
    
    

 
.weather em small{

    font-size:0pt; 

    color:white; 

    text-shadow:1px 1px black; 

    position:absolute; 

    left:0; 

    top:85px; 

    width:95px; 

    text-align:center}

 
.sunweather, .sunnydayweather{

    
    background:url(http://i.imgur.com/FypwhbA.gif) no-repeat scroll left top; 

    opacity:0.5;     
    
    background-size:cover}

 
.rainweather, .raindanceweather{

    background:url(http://i.imgur.com/hic1nf9.gif) no-repeat scroll left top; 
    
    opacity:0.5; 
    
    background-size:cover}
    
    
    
    

  
.sandstormweather{

    background:url(http://i.imgur.com/qOw9a6v.gif) no-repeat scroll left top; 

    opacity:0.5; 

    background-size:cover}

 
.hailweather{

    background:url(http://i.imgur.com/eUqkcVW.gif) no-repeat scroll left top; 
    
    opacity:0.5; 
    
    background-size:cover}

 
.pseudoweather{

    background:url(http://i.imgur.com/WCrYols.gif) no-repeat scroll left top; 
    
    opacity:0.5; 
    
    background-size:cover; 

    width:640px; 

    height:360px}
    
.switchmenu{

    width: 430px;
    
    left: 102px;
    
    top: -35px;
    
    position:relative;
    
    padding-bottom:135px;
    
    background:url(http://i.imgur.com/uujLEDO.png); 
    
}

    
.switchmenu button, .switchmenu button:disabled{

    width:137px;   
    
    height:48px; 

    background:url(http://i.imgur.com/WMic5PP.png) !important; 

    border:none; 

    box-shadow:none; 

    border-radius:0; 

    font-size:10pt}

.switchmenu button{
    
    transition:All 1.6116s ease;
    
    color:black; 
    
    text-align: left;
    
    text-shadow:1px 1px grey}
    
.switchmenu button .pokemonicon{
    
    margin-bottom:5px;
    
    margin-left: 4px;
}
    
.switchmenu button .status {
    
	top: 4px;
    
	right: 24px;
    
    width: 15px;
    
    border-color: #3a8247;
}
    
.switchmenu button .hpbar{
    
    height:2px;
        
	width: 92px;
        
    border-color: #0e0e0e;
        
    margin-bottom:8px;
        
	margin-left: 27px;
}

.switchmenu button:disabled{

opacity:.5}
    
  
.switchmenu button:hover{

transition:All 1.6116s ease;
    
transform: rotate(0deg) scale(1.05) skew(0deg) translate(0px);
    
background:url(http://i.imgur.com/rJmTxtU.png) !important; 
    
}
    
.switchselect{
 
opacity:0;   
    
transform: translate(280px);
    
position:relative; 
    
left:0; 
    
top:115px; 
    
}  
   
.movecontrols:after {

content:""; 

background:url(http://i.imgur.com/V4WGvVA.png); 
    
opacity:1;
    
position:absolute; 

top:-95px; 

left:14px; 

width:612px; 

height:72px}   
    

.moveselect{
    
opacity:0;

}   
    
.movemenu{
    
width: 330px;
    
left: 160px;
    
top: -45px;
    
position:relative;

}  
    

.movemenu button{
    
transition:All 1.6116s ease;
    
width:150px; 
    
height:50px; 
    
border-radius:0; 
    
border-width:0; 
    
box-shadow:none; 
    
color:grey; 
text-shadow:1px 1px black; 
    
font-size:10pt; 
    
padding-top:0px}

.movemenu button small{

text-align:center; 

width:62px; 

margin-top:2px}

.movemenu button small.type, .movemenu button small.pp{

padding-top:8px; 

color:whitesmoke}

.movemenu button.type-Normal{

    background:url(http://i.imgur.com/1ctemFU.png)}

.movemenu button.type-Normal:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/vTfBrkj.png)}

    
    .movemenu button.type-Fairy{

    background:url(http://i.imgur.com/rdPeaVu.png)}

.movemenu button.type-Fairy:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/bxU4lIL.png)}

.movemenu button.type-Fire{

    background:url(http://i.imgur.com/aP39wjQ.png)}

.movemenu button.type-Fire:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/Wbbty9g.png)}

.movemenu button.type-Water{

    background:url(http://i.imgur.com/cMJaVjV.png)}

.movemenu button.type-Water:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/Ufx3H8C.png)}

.movemenu button.type-Electric{

    background:url(http://i.imgur.com/UF3tbwp.png)}

.movemenu button.type-Electric:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/MQHXttp.png)}

.movemenu button.type-Grass{

    background:url(http://i.imgur.com/bNq1PyT.png)}

.movemenu button.type-Grass:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/k2PpmJa.png)}

.movemenu button.type-Ice{

    background:url(http://i.imgur.com/Kwcx3yV.png)}

.movemenu button.type-Ice:hover{

    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);    
    background:url(http://i.imgur.com/uufLOLk.png)}

.movemenu button.type-Fighting{

    background:url(http://i.imgur.com/hkBjSQ2.png)}

.movemenu button.type-Fighting:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/IvimpSI.png)}

.movemenu button.type-Poison{

    background:url(http://i.imgur.com/F4JSeNV.png)}

.movemenu button.type-Poison:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/cKmY6Kn.png)}

.movemenu button.type-Ground{

    background:url(http://i.imgur.com/HfD3UW8.png)}

.movemenu button.type-Ground:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/Szrf2un.png)}

.movemenu button.type-Flying{

    background:url(http://i.imgur.com/Y6XAWm6.png)}

.movemenu button.type-Flying:hover{

    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/qiEnZhM.png)}

.movemenu button.type-Psychic{

    background:url(http://i.imgur.com/ta9EV9f.png)}

.movemenu button.type-Psychic:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/wyCTbE4.png)}

.movemenu button.type-Bug{

    background:url(http://i.imgur.com/mvJWmou.png)}

.movemenu button.type-Bug:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/lqdXcxD.png)}

.movemenu button.type-Rock{

    background:url(http://i.imgur.com/523IIPS.png)}

.movemenu button.type-Rock:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/kPd2jmf.png)}

.movemenu button.type-Ghost{

    background:url(http://i.imgur.com/bGT4IB7.png)}

.movemenu button.type-Ghost:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/gnZ14wY.png)}

.movemenu button.type-Dragon{

    background:url(http://i.imgur.com/dJUGqK6.png)}

.movemenu button.type-Dragon:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/kIGBRyq.png)}


.movemenu button.type-Dark{

    background:url(http://i.imgur.com/PtLZlWc.png)}

.movemenu button.type-Dark:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/cWSnAJs.png)}

.movemenu button.type-Steel{

    background:url(http://i.imgur.com/2A1Rzvs.png)}

.movemenu button.type-Steel:hover{
    
    transform: rotate(0deg) scale(1.10) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/vGQVEtf.png)}

.movemenu button.type-undefined, .movemenu button.type-undefined:hover{

    background:url(http://i.imgur.com/1ctemFU.png)}

.movemenu button:disabled{

    background:url(http://i.imgur.com/5V27fmf.png) !important; 
    opacity:.20}
    
.movemenu button:disabled:hover{
    
    transform: rotate(0deg) scale(0.90) skew(0deg) translate(0px);
    background:url(http://i.imgur.com/vGQVEtf.png)}
   
    .movemenu label {
    
    text-transform:uppercase;
    font-size: 0px;
    width:110px;
    height:110px;
    color:#b4b4b4;
	font-weight: bold;
    position:relative;
    left:49px;
    top:33px;
    margin:0px 0px 0px 45px;
    padding:61px;
    background:url(http://i.imgur.com/wHPOyb9.png); 

}  
   .movemenu label:hover{
    
    background:url(http://i.imgur.com/3ffb8Os.png);
    
}  
       
   .movemenu input{

    width:15px; 
    color:#b4b4b4;
    height:40px; 
    position:relative;
    top:-33px;
    left:-104px;
    margin:-15px -114px 70px 94px}
